<!DOCTYPE html>
   <head>
      <title>yelp</title>
   </head>

   <body>
      <form action="" method="POST">
          <label for="Find">Find</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input1" placeholder="Find"></textarea>
          <label for="Near">Near</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input2" placeholder="Near"></textarea>
        <input type="submit">
      </form>
      <br>
      <br>
      <br>
      <form action="/submittwo" method="POST">
          <label for="Find">Find</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input1" placeholder="Find"></textarea>
          <label for="Near">Near</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input2" placeholder="Near"></textarea>
        <input type="submit">
      </form>
      <br>
      <br>
      <br>
      <form action="/submitthree" method="POST">
          <label for="Find">Find</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input1" placeholder="Find"></textarea>
          <label for="Near">Near</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input2" placeholder="Near"></textarea>
        <input type="submit">
      </form>
      <br>
      <br>
      <br>
      <form action="/submitfour" method="POST">
          <label for="Find">Find</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input1" placeholder="Find"></textarea>
          <label for="Near">Near</label>

          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input2" placeholder="Near"></textarea>
        <input type="submit">
      </form>

   <a href="/view" ><button class=grey style="height:75px;width:80px">View</button></a>
      <br>

   </body>
</html>