<!DOCTYPE html>
   <head>
      <title>isearch</title>
   </head>

   <body>
      <form action="" method="POST">
          <label for="country">Country</label>
<!--          <input name="input1">-->
          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input1" placeholder="country"></textarea>
          <label for="city">City</label>
<!--          <input name="input2">-->
          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input2" placeholder="city"></textarea>
          <label for="keyword">keyword</label>
<!--          <input name="input3">-->
          <textarea rows="10" cols="50" style="height: 214px" class="input100" name="input3" placeholder="keyword"></textarea>
        <input type="submit">
      </form>
      <br>
   <a href="/view" ><button class=grey style="height:75px;width:80px">View</button></a>
      <br>
<!--   <a href="/run" ><button class=grey style="height:75px;width:80px">run</button></a>-->
   </body>
</html>